.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: dodgerblue;
    border: 2px solid #282c34;
}
.input{
    background-color: #282c34;
    text-align: center;
    width: 200px;
    color: dodgerblue;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.errorInput{
    background-color: #a70000;
    text-align: center;
    width: 200px;
    color: #282c34;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{

}
.panel{
    margin: 5px;
}
