.container{
    margin: 10px auto;
    background-color: #282c34;
    /*width: 300px;*/
    border: 2px solid dodgerblue;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}
.containerEnd{
    margin: 10px auto;
    /*background-color: #B73E3E;*/
    border: 2px solid dodgerblue;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}
.title{
    text-align: center;
    color: dodgerblue;
}
.titleEnd{
    color: #a70000;
}
.errorMessage{
    color: #a70000;
}

