.button{
    min-width: 80px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 5px;
    margin: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.button:hover{
    min-width: 80px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid #282c34;
}
.button:disabled{
    min-width: 80px;
    height: 30px;
    background-color: #282c34;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    font-weight: bold;
}
